{
  "presets": ["next/babel"],
  "plugins": [
    [
      "styled-components",
      {
        "ssr": true,
        "displayName": true,
        "preprocess": false
      }
    ],
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@common": "./src/common",
          "@config": "./src/config",
          "@hooks": "./src/hooks",
          "@layouts": "./src/layouts",
          "@lib": "./src/lib",
          "@styles": "./src/styles",
          "@themes": "./src/themes",
          "@utils": "./src/utils"
        }
      }
    ]
  ]
}
